Frontend-Web/node_modules
Frontend-Web/.next
Frontend-Web/.pnp
Frontend-Web/.pnp.*
Frontend-Web/.yarn/*
Frontend-Web/!.yarn/patches
Frontend-Web/!.yarn/plugins
Frontend-Web/!.yarn/releases
Frontend-Web/!.yarn/versions
Frontend-Web/coverage
Frontend-Web/.next/
Frontend-Web/out/
Frontend-Web/build
Frontend-Web/.DS_Store
Frontend-Web/*.pem
Frontend-Web/npm-debug.log*
Frontend-Web/yarn-debug.log*
Frontend-Web/yarn-error.log*
Frontend-Web/.pnpm-debug.log*
Frontend-Web/.vercel
Frontend-Web/*.tsbuildinfo
Frontend-Web/next-env.d.ts

Primary-Server/node_modules
Primary-Server/dist
Primary-Server/.pnp
Primary-Server/.pnp.*
Primary-Server/.yarn/*
Primary-Server/!.yarn/patches
Primary-Server/!.yarn/plugins
Primary-Server/!.yarn/releases
Primary-Server/!.yarn/versions
Primary-Server/coverage
Primary-Server/.next/
Primary-Server/out/
Primary-Server/build
Primary-Server/.DS_Store
Primary-Server/*.pem
Primary-Server/npm-debug.log*
Primary-Server/yarn-debug.log*
Primary-Server/yarn-error.log*
Primary-Server/.pnpm-debug.log*
Primary-Server/.vercel
Primary-Server/*.tsbuildinfo
Primary-Server/next-env.d.ts

*.DS_Store